<footer class="site-footer">
  <div class="container">
    <a id="scroll-up">
      <i class="fa fa-angle-up"></i></a>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright © 2018. All right reserved</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li>
            <a href="https://www.github.com/dansbits/lurn" target="_blank">
              <i class="fa fa-github fa-3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/theDocs.all.js"></script>