.u-mt-10 { margin-top: 10px; }
.u-mt-20 { margin-top: 20px; }

.home-banner {
  background-image: url(/assets/images/banner2_bw.jpg);
  background-size: auto;
  background-repeat: repeat;
}

.home-banner h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  border: none;
}
