<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" /><title>Lurn</title>
    <!-- Styles -->
    <link href="./assets/css/theDocs.all.css" rel="stylesheet" />
    <link href="./assets/css/custom.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400" rel='stylesheet' type='text/css' />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="assets/img/favicon.png" />
  </head>
  <body>
    {% includes heading.html %}
    {{ content }}
    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up">
          <i class="fa fa-angle-up"></i></a>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright © 2018. All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
              <li>
                <a href="https://www.github.com/dansbits/lurn" target="_blank">
                  <i class="fa fa-github fa-3"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
